Package: hbf
Version: 2.1.1
Architecture: all
Maintainer: Lucas Sogaray <lucassogaray72@gmail.com>
Depends: python, python-cryptography
Description: Hybrid Binary Format - Un formato de archivo todo en uno
